/* spacing */
*, *::after, *::before {
  box-sizing: border-box;
}
div.container {
  display: inline;
  align-items: center;
  justify-content: center;

}
/*
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
} */

table {
  table-layout: fixed;
  width: 20%;
  border-collapse: collapse;

  /* border: 3px solid purple; */
}


th, td {
  padding: 30px;
}

/* tr.firstline {
  border-bottom: 3px solid black;
}
tr.secondline {
  border-bottom: 3px solid black;
} */

tr {
  border-bottom: 3px solid black;
  /* border-right: 3px solid black; */
}

tr.lastline {
  border-bottom: none;
}

td {
  border-left: 3px solid black;
}

td:nth-child(1) {
  border-left: none;
}
